.footer-logo img {
  height: 2rem;
  margin-right: 1rem;
}

/* Footer Styles */
.footer {
  position: relative;
  width: calc(100% - 2rem);
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  box-sizing: border-box;
  color: #000; /* Set to your primary text color */
  font-family: 'Roboto', sans-serif; /* Use your primary font */
}

.footer-container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
}

/* Individual footer sections */
.footer-left, .footer-center, .footer-right {
  flex: 1;
  padding: 1rem;
}

/* Responsive styling for smaller screens */
@media (max-width: 600px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-left, .footer-center, .footer-right {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #ccc; /* Divider line below each section */
    padding: 1rem 0;
  }

  /* Remove the border for the last section */
  .footer-right {
    border-bottom: none;
  }
}
