/* General Styles */
.navbar {
  position: fixed;
  top: 0;
  width: calc(100% - 2rem); /* Adjust for margin */
  height: 5rem;
  background-color: rgba(255, 255, 255, 0.8); /* Transparent background */
  border-radius: 15px; /* Border radius on all sides */
  margin: 1rem; /* Margin on all sides */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  box-sizing: border-box;
}

.navbar-container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.navbar-left .navbar-logo img {
  height: 3rem;
}

.navbar-menu {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.navbar-menu ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.navbar-menu ul li a {
  text-decoration: none; /* Remove underline */
  color: black;
  font-size: 1rem;
  padding-bottom: 0.25rem; /* This can be removed if not needed */
}

.navbar-menu ul li a:hover {
  color: #ff036c; /* Change color on hover */
}

/* Active link color */
.navbar-menu ul li a.active {
  color: #ff036c; /* Active link color */
}

.navbar-icons {
  display: flex;
  gap: 1.5rem;
  font-size: 1.5rem;
  color: black;
}

/* Hamburger for Mobile */
.hamburger {
  display: none;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: black;
}

@media (max-width: 768px) {
  .navbar-container {
      justify-content: space-between;
  }

  .navbar-left .navbar-logo {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
  }

  .navbar-menu {
      position: fixed;
      top: 5rem;
      left: 0;
      height: calc(100vh - 5rem);
      width: 100%;
      background-color: rgba(0, 0, 0, 0); /* Ensure mobile menu is also transparent */
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 2rem;
      transition: transform 0.3s ease;
      transform: translateY(-100%);
  }

  .navbar-menu.open {
      transform: translateY(0);
  }

  .navbar-menu ul {
      flex-direction: column;
  }

  .navbar-icons {
      display: none;
  }

  .hamburger {
      display: block;
  }
}

/* Navbar Sticky on Scroll */
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.navbar {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
