{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">  <!-- Add your favicon here -->
    <title>ArToe - Coming Soon</title>
    <style>
        body {
            background-image: url('{% static "background.jpg" %}');  /* Update this with your static file reference */
            background-size: cover;
            color: black;
            text-align: center;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin: 0;  /* Reset default margin */
        }
    </style>
    {% load static %}  <!-- Load static files -->
</head>
<body>
    <h1>Website Coming Soon</h1>
    <p>Stay tuned for something amazing!</p>
</body>
</html>
