:root {
  --color-primary: #ff036c;
  --color-bg: #dddddd;
  --color-text: #333;
  --font-primary: 'Roboto', sans-serif;
  --font-secondary: 'Montserrat', sans-serif;
}

body {
  background-color: var(--color-bg);
  font-family: var(--font-primary);
  margin: 0;
  padding: 0;
}

/* Ensure header is spaced below the navbar */
header {
  padding-top: 80px; /* Adjust as necessary to clear navbar */
  background-color: transparent; /* Remove background color */
  padding: 20px; /* Optional padding for spacing */
}

/* Header container */
.header-container {
  margin: 95px;
  display: flex;
  justify-content: space-evenly;
  align-items: center; /* Align items in the center */
  gap: 20px; /* Reduced gap for closer alignment */
}

/* Header Info */
.header-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 10px; /* Padding between info and image */
}

.header-info h1 {
  font-size: 10.5rem; /* Default font size for large screens */
  color: var(--color-primary);
}

.header-info p {
  font-size: 1.2rem; /* Default font size for large screens */
  color: var(--color-text);
  line-height: 1.6;
}

/* Header Image - fixed dimensions */
.header-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 600px; /* Max width for larger screens */
  height: auto;
  overflow: hidden;
}

.header-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .header-container {
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center align for visual balance */
  }

  .header-image {
    max-width: 80%; /* Image takes 80% of the screen width */
    height: auto; /* Allows height to adjust proportionally */
  }

  .header-info h1 {
    font-size: 2rem; /* Smaller font size for h1 on smaller screens */
  }

  .header-info p {
    font-size: 1rem; /* Smaller font size for paragraph on smaller screens */
  }
  .header-container {
    margin-top: 120px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
  }
}
