/* Main Container Styles */
.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.signup-content {
    margin-top: 30px;
    display: flex;
    width: 70%; /* Take 70% width of the viewport */
    height: 70vh; /* Take 70% height of the viewport */
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

/* Signup Box and Image */
.signup-box {
    background-color: white;
    padding: 20px;
    width: 50%; /* Take 50% of the content container */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.signup-image {
    width: 50%; /* Take 50% of the content container */
}

.signup-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 20px 20px 0; /* Rounded corners on the right side */
}

/* Typography and Form Styles */
h2 {
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

p {
    font-size: 0.9em;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

form div {
    margin-bottom: 10px;
}

label {
    font-size: 0.9em;
    margin-bottom: 5px;
}

input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 0.9em;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ff036c;
    color: #fff;
    font-size: 0.9em;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #e52b61;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .signup-content {
        flex-direction: column; /* Stack elements vertically */
        width: 90%; /* Wider on small screens */
        height: auto; /* Adjust height */
    }

    .signup-box {
        width: 100%; /* Full width on small screens */
        padding: 30px; /* Increase padding */
        border-radius: 15px; /* Rounded corners */
        margin: 0 auto; /* Center horizontally */
    }

    .signup-image {
        display: none; /* Hide image on smaller screens */
    }
}

@media (max-width: 600px) {
    .signup-box {
        padding: 20px;
    }

    h2 {
        font-size: 18px; /* Adjust font size for smaller screens */
    }

    button {
        font-size: 14px; /* Adjust button font size */
    }
}
